$base-background: #296efa;
$signup-section-background: #f9f9f9;

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 1024px;
  height: 100%;
  text-align: center;
  background: $base-background;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 12px;
}

.signup {
  min-height: 1000px;
  background-color: $signup-section-background;
  flex-wrap: nowrap;
  display: flex;
  height: 100%;
  width: 94.5%;
}

.section-header {
  min-width: fit-content;
  width: 100%;
  font-size: 31px;
}

.align-left {
  text-align: left;
}

select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

select:required:invalid {
  color: #666;
}

option {
  color: #343434;
}

.sigup-section {
  display: flex;
  color: #343434;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: fit-content;
  height: 100%;
  width: 65%;
}

.steps {
  display: flex;
  padding-right: 2em;
  font-weight: bold;
  font-size: 13px;
  height: 10%;
  width: 100%;
  align-items: center;
  justify-content: flex-end;
}

.signup-input-container {
  display: flex;
  flex-direction: column;
  text-align: left;
  align-items: center;
  min-height: fit-content;
  width: 100%;
  justify-content: center;
  height: 100%;
}

.steps-icons {
  display: flex;
  width: 8em;
  color: grey;
  margin: 0px 4em;
  font-size: 4px;
  justify-content: space-between;
  align-items: center;
}

.current-step-icon {
  color: black;
}

.no-pointer-events {
  pointer-events: none !important;
}

.signup-form-container {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
  width: 42%;
}

.signup-form {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.show-input-field-header {
  &[data-header]::after {
    opacity: 1 !important;
  }
}

.show-input-field-footer {
  &[data-footer]::before {
    opacity: 1 !important;
  }
}

.input-field-error {
  text-shadow: 0px -2px 2px rgba(253, 72, 72, 0.5) !important;
  box-shadow: 0 0 0 2px rgba(253, 72, 72, 0.5) !important;
  color: rgb(253, 72, 72) !important;
  border-color: rgb(253, 72, 72) !important;
  &[data-footer]::before {
    color: rgb(253, 72, 72) !important;
  }
}

.signup-input-field-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 2rem;
  width: 100%;
  font-size: 17px;
  border: 1px solid rgba(#d9d9d9, 0.3);
  border-radius: 4px;
  background-color: $signup-section-background;
  color: gray;
  transition: all 0.3s;
  &:hover {
    border-color: #40a9ff;
    color: #40a9ff;
  }
  &:focus-within {
    border-color: #40a9ff;
    color: #40a9ff;
    text-shadow: 0px -2px 2px rgba(24, 144, 255, 0.2);
    box-shadow: 0 0 0 2px rgba(24, 144, 255, 0.2);
  }
  &[data-footer]::before {
    opacity: 0;
    transition: all 0.3s;
    content: attr(data-footer);
    position: absolute;
    font-size: 12px;
    bottom: -25px;
    left: 0px;
    color: gray;
    text-shadow: none !important;
  }

  &[data-header]::after {
    opacity: 0;
    transition: all 0.3s;
    content: attr(data-header);
    position: absolute;
    font-size: 13px;
    top: -10px;
    left: 16px;
    pointer-events: none;
    box-shadow: 0px 0px 4px 4px $signup-section-background;
    background-color: $signup-section-background;
  }
}

.signup-input-field {
  width: 100%;
  font-size: 16px;
  outline: none;
  border: none;
  background-color: $signup-section-background;
  border-radius: 4px;
  padding: 1em;
}

.input-place-holder {
  color: gray;
}

.input-icon {
  border: none;
  outline: none;
  position: absolute;
  cursor: pointer;
  transition: all 0.3s;
  color: black;
  right: 20px;
  text-shadow: none !important;
  &:hover {
    color: rgba(0, 0, 0, 0.45);
  }

  &:active {
    opacity: 0.5;
  }
}

.input-header {
  position: absolute;
  font-size: 13px;
  top: -10px;
  left: 16px;
  pointer-events: none;
  box-shadow: 0px 0px 4px 4px $signup-section-background;
  background-color: $signup-section-background;
}

.input-footer {
  position: absolute;
  font-size: 12px;
  bottom: -25px;
  left: 0px;
  color: gray;
}

.submit-button {
  outline: none;
  border: none;
  width: 100%;
  font-weight: bold;
  border-radius: 4px;
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.025);
  background-color: #296efa;
  border-color: #296efa;
  color: $signup-section-background;
  transition: all 0.5s;
  margin-top: 2rem;
  height: 3rem;
  &:disabled {
    color: #aaaaaa;
    background-color: #ededed;
    pointer-events: none;
  }

  &:hover {
    background: #3d7dfd;
    border-color: #3d7dfd;
  }
}

.redirect-info {
  font-size: 15px;
  line-height: 2em;
  margin: 3em 0;
  width: 100%;
}

.policy-info {
  font-size: 13px;
}

.redirect-link {
  font-weight: bold;
  cursor: pointer;
  color: #296efa;
  transition: all 0.3s;
  &:hover {
    color: #3d7dfd;
  }
}

.info-section {
  background: #296efa;
  color: $signup-section-background;
  display: flex;
  min-width: fit-content;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 35%;
}

.info {
  margin: 0rem 5rem;
  padding: 5rem 0rem;
  font-size: 19px;
  width: 18em;
  line-height: 1.5em;
  text-align: left;
}
