* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: 1024px;
  height: 100%;
  text-align: center;
  background: #296efa;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 12px;
}

.signup {
  min-height: 1000px;
  background-color: #f9f9f9;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  width: 94.5%;
}

.section-header {
  min-width: -webkit-fit-content;
  min-width: -moz-fit-content;
  min-width: fit-content;
  width: 100%;
  font-size: 31px;
}

.align-left {
  text-align: left;
}

select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

select:required:invalid {
  color: #666;
}

option {
  color: #343434;
}

.sigup-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #343434;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-width: -webkit-fit-content;
  min-width: -moz-fit-content;
  min-width: fit-content;
  height: 100%;
  width: 65%;
}

.steps {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-right: 2em;
  font-weight: bold;
  font-size: 13px;
  height: 10%;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.signup-input-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: left;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: -webkit-fit-content;
  min-height: -moz-fit-content;
  min-height: fit-content;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
}

.steps-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 8em;
  color: grey;
  margin: 0px 4em;
  font-size: 4px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.current-step-icon {
  color: black;
}

.no-pointer-events {
  pointer-events: none !important;
}

.signup-form-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 42%;
}

.signup-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

.show-input-field-header[data-header]::after {
  opacity: 1 !important;
}

.show-input-field-footer[data-footer]::before {
  opacity: 1 !important;
}

.input-field-error {
  text-shadow: 0px -2px 2px rgba(253, 72, 72, 0.5) !important;
  -webkit-box-shadow: 0 0 0 2px rgba(253, 72, 72, 0.5) !important;
          box-shadow: 0 0 0 2px rgba(253, 72, 72, 0.5) !important;
  color: #fd4848 !important;
  border-color: #fd4848 !important;
}

.input-field-error[data-footer]::before {
  color: #fd4848 !important;
}

.signup-input-field-container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 2rem;
  width: 100%;
  font-size: 17px;
  border: 1px solid rgba(217, 217, 217, 0.3);
  border-radius: 4px;
  background-color: #f9f9f9;
  color: gray;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.signup-input-field-container:hover {
  border-color: #40a9ff;
  color: #40a9ff;
}

.signup-input-field-container:focus-within {
  border-color: #40a9ff;
  color: #40a9ff;
  text-shadow: 0px -2px 2px rgba(24, 144, 255, 0.2);
  -webkit-box-shadow: 0 0 0 2px rgba(24, 144, 255, 0.2);
          box-shadow: 0 0 0 2px rgba(24, 144, 255, 0.2);
}

.signup-input-field-container[data-footer]::before {
  opacity: 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  content: attr(data-footer);
  position: absolute;
  font-size: 12px;
  bottom: -25px;
  left: 0px;
  color: gray;
  text-shadow: none !important;
}

.signup-input-field-container[data-header]::after {
  opacity: 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  content: attr(data-header);
  position: absolute;
  font-size: 13px;
  top: -10px;
  left: 16px;
  pointer-events: none;
  -webkit-box-shadow: 0px 0px 4px 4px #f9f9f9;
          box-shadow: 0px 0px 4px 4px #f9f9f9;
  background-color: #f9f9f9;
}

.signup-input-field {
  width: 100%;
  font-size: 16px;
  outline: none;
  border: none;
  background-color: #f9f9f9;
  border-radius: 4px;
  padding: 1em;
}

.input-place-holder {
  color: gray;
}

.input-icon {
  border: none;
  outline: none;
  position: absolute;
  cursor: pointer;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  color: black;
  right: 20px;
  text-shadow: none !important;
}

.input-icon:hover {
  color: rgba(0, 0, 0, 0.45);
}

.input-icon:active {
  opacity: 0.5;
}

.input-header {
  position: absolute;
  font-size: 13px;
  top: -10px;
  left: 16px;
  pointer-events: none;
  -webkit-box-shadow: 0px 0px 4px 4px #f9f9f9;
          box-shadow: 0px 0px 4px 4px #f9f9f9;
  background-color: #f9f9f9;
}

.input-footer {
  position: absolute;
  font-size: 12px;
  bottom: -25px;
  left: 0px;
  color: gray;
}

.submit-button {
  outline: none;
  border: none;
  width: 100%;
  font-weight: bold;
  border-radius: 4px;
  -webkit-box-shadow: 0 2px 0 rgba(0, 0, 0, 0.025);
          box-shadow: 0 2px 0 rgba(0, 0, 0, 0.025);
  background-color: #296efa;
  border-color: #296efa;
  color: #f9f9f9;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  margin-top: 2rem;
  height: 3rem;
}

.submit-button:disabled {
  color: #aaaaaa;
  background-color: #ededed;
  pointer-events: none;
}

.submit-button:hover {
  background: #3d7dfd;
  border-color: #3d7dfd;
}

.redirect-info {
  font-size: 15px;
  line-height: 2em;
  margin: 3em 0;
  width: 100%;
}

.policy-info {
  font-size: 13px;
}

.redirect-link {
  font-weight: bold;
  cursor: pointer;
  color: #296efa;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.redirect-link:hover {
  color: #3d7dfd;
}

.info-section {
  background: #296efa;
  color: #f9f9f9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-width: -webkit-fit-content;
  min-width: -moz-fit-content;
  min-width: fit-content;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  width: 35%;
}

.info {
  margin: 0rem 5rem;
  padding: 5rem 0rem;
  font-size: 19px;
  width: 18em;
  line-height: 1.5em;
  text-align: left;
}
/*# sourceMappingURL=style.css.map */